<!DOCTYPE html>
<html>

<head>
    <title>Prateek_Gupta_2019_11_07</title>

    <!-- Included Required Libraries like Fabric, Angular & Bootstrap-->
    <link rel="stylesheet" href="../lib/bootstrap.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../lib/angular.js"></script>
    <script src="../lib/fabric.js"></script>

</head>

<body>
    <!-- Generate Random Canvases Division -->
    <div class="text-center mt-3">
        <button class="btn btn-primary">Generate Random Canvases</button>
    </div>

    <div class="row col-md-12 mt-3 justify-content-center">
        <!-- Select Object Division -->
        <div class="dropdown col-md-2 ml-5">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Dropdown
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button">Action</button>
                <button class="dropdown-item" type="button">Another action</button>
                <button class="dropdown-item" type="button">Something else here</button>
            </div>
        </div>

        <!-- Select Canvas number Division -->
        <div class="dropdown col-md-2 ml-5">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Dropdown
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu3">
                <button class="dropdown-item" type="button">Action</button>
                <button class="dropdown-item" type="button">Another action</button>
                <button class="dropdown-item" type="button">Something else here</button>
            </div>
        </div>

        <!-- Insert to Canvas button Division -->
        <div class="col-md-2 ml-5">
            <button class="btn btn-primary">Insert into Canvas</button>
        </div>
    </div>

    <!-- Canvas Division -->
    <div class="mt-3">
        <div class="row m-1 mb-0 justify-content-center">
            <label class="col-md-5 mb-0">Canvas 1</label>
            <label class="col-md-5 mb-0">Canvas 2</label>
        </div>
        <div class="row m-1 canvas-height justify-content-center">

            <div class="col-md-5 border m-2"></div>
            <div class="col-md-5 border m-2"></div>
        </div>
    </div>
</body>

</html>